{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="centered-rectangles">
    <div class="rectangles">
        <div class="centered-text">
                 <div class="logo">
                     <img src="/static/img/logo.png">
                 </div>
                <h1>{% trans "Login" %}</h1>
        </div>
        <div class="centerLogin">
                <form class="login" method="POST" action="{% url 'account_login' %}">
     
                   {% csrf_token %}
     
                   {% if form.errors %}
                   <p class="error-message">Oops! Something went wrong. Please check your email and password.</p>
                   {% endif %}
     
     
                   <p class="rectanglesEmail">
                       <label for="id_login"></label>
                       <input type="email" name="login" placeholder="Email" autocomplete="email" maxlength="320" required="" id="id_login">
                   </p>
     
                   <p class="rectanglesPass">
                       <label for="id_password"></label>
                       <input type="password" name="password" placeholder="Senha" autocomplete="current-password" required="" id="id_password">
                   </p>
                   {% if redirect_field_value %}
                   <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                   {% endif %}
     
     
     
                <div class="imgSize">
                    <button class="primaryAction buttonRight" type="submit">
                       <img src="/static/img/image.png" class="imgDecrease ">
                    </button>
                </div>
     
                 </form>
        </div>
     
        <div class="singupDown">
            {% if socialaccount_providers %}
                 <p>{% blocktrans with site.name as site_name %}Please sign in with one
                 of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                 for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
     
                 <div class="socialaccount_ballot">
     
                   <ul class="socialaccount_providers">
                     {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                   </ul>
     
                   <div class="login-or">{% trans 'or' %}</div>
     
                 </div>
     
                 {% include "socialaccount/snippets/login_extra.html" %}
     
                 {% else %}
                 <p>{% blocktrans %}Não tem cadastro?
                 <a href="{{ signup_url }}">Cadastre-se</a>{% endblocktrans %}</p>
             {% endif %}
                 <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Esqueci minha senha" %}</a>
        </div>
     </div>
</div>



{% get_providers as socialaccount_providers %}


{% endblock content %}
