{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<div class="centered-rectangles">
    <div class="rectanglesResPass">

        <div class="centered-text">
            <div class="logo">
                <img src="/static/img/logo.png">
            </div>
           <h1>{% trans "Recuperar Senha" %}</h1>
        </div>
    
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
    
        <p class="rectanglesEmailRec">
            <label for="id_email"></label>
            <input type="email" name="email" placeholder="E-mail" autocomplete="email" maxlength="320" required="" id="id_email"> 
        </p>
    
        <div class="imgSize">
            <button class="primaryAction buttonRight" type="submit">
                <div class="centered-img">
                    <img src="/static/img/imageRec.png" class="imgDecrease3">
                </div>
            </button>
        </div>
    
        </form>
    </div>
</div>
{% endblock content %}

