{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/styleGItens.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleSearchNavBar.css' %}">
</head>


<body>
    
    <header>
        <nav class="top-nav">
            <div class="centered-text">
                <div class="logo">
                    <img src="/static/img/logo.png">
                </div>
            </div>
            <a>{{ geladeira.nome_geladeira }}</a>
            {% include 'pesquisa.html' %}
        </nav>

    </header>

    {% block content %}
    <div> 


        <div class="buttonCenter">

            <a href="{% url 'estoque:produtos_geladeira' geladeira.pk %}">
                <button class="borderButton"> 
                    <img src="/static/img/plus.png">
                </button>
            </a>
            <p id="link_compartilhamento" style="display: none;">
                <a href="{% url 'estoque:compartilhar_geladeira' geladeira.pk %}">Convite:Geladeira {{ geladeira.nome_geladeira }}</a>
            </p>
        </div>
        <!-- Botão para adicionar um novo produto a geladeira -->
        {% for item in item_geladeira %}
            <div style="background-color: lightseagreen; width: 300px;">
                <p>{{ item.produto.nome_produto }}</p>
                <img src="/media/{{ item.produto.imagem_produto }}" width="100px" height="100px">
                <p>{{ item.quantidade }} {{ item.produto.unidade_medida }}</p>
                <form method="post" action="{% url 'estoque:detalhes_geladeira' geladeira.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <label for="quantidade{{ item.id }}">Quantidade</label><br>
                    <input type="number" id="quantidade{{ item.id }}" name="quantidade{{ item.id }}" value="{{ item.quantidade }}" min="0"><br>
                    <label for="validade{{ item.id }}">Validade</label><br>
                    <input type="date" id="validade{{ item.id }}" name="validade{{ item.id }}" value="{{ item.validade|date:'Y-m-d' }}" readonly>
                    <button type="button" id="btn_validade{{ item.id }}" onclick="document.getElementById('validade{{ item.id }}').readOnly = false; document.getElementById('btn_validade{{ item.id }}').style.display = 'none'">lapis_edicao</button>
                    <button type="button" onclick="document.getElementById('quantidade{{ item.id }}').value = parseInt(document.getElementById('quantidade{{ item.id }}').value) - 1">-</button>
                    <button type="button" onclick="document.getElementById('quantidade{{ item.id }}').value = parseInt(document.getElementById('quantidade{{ item.id }}').value) + 1">+</button>
                    <button type="submit">Guardar</button>
                </form>
                <a href="{% url 'estoque:excluir_item_geladeira' geladeira.pk item.pk %}"><button id="btn_excluir">X</button></a>
                <br>
            </div>
        {% endfor %}
    </div>
    {% endblock %}


    <footer>
        <nav>
            <div class="bottom-nav">
                <div class="footer-left">
                    <a href="{% url 'estoque:geladeiras' %}">
                        <button id="btn_voltar" class="btn-icon btn-voltar">
                            <img src="/static/img/voltar.png" alt="Voltar">
                        </button>
                    </a>
                </div>

                <div class="footer-right">
                    <a href="{% url 'estoque:editar_geladeira' geladeira.pk %}">
                        <button id="btn_edit" class="btn-icon">
                            <img src="/static/img/editar.png" alt="Editar">
                        </button>
                    </a>

                    <a href="{% url 'estoque:excluir_geladeira' geladeira.pk %}">
                        <button id="btn_excluir" class="btn-icon">
                            <img src="/static/img/excluir.png" alt="Excluir">
                        </button>
                    </a>

                    <button id="compartilhar_geladeira" >
                        <img src="/static/img/compart.png" alt="Compartilhar">
                    </button>

                    <a href="{% url 'estoque:listas' geladeira.pk %}">
                        <button id="btn_clista" class="btn-icon">
                            <img src="/static/img/lista.png" alt="Lista">
                        </button>
                    </a>

                    <a href="{% url 'estoque:historico_geladeira' geladeira.pk %}">
                        <button id="btn_historico" class="btn-icon">
                            <img src="/static/img/historico.png" alt="Historico">
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </footer>
    
    <script>
        let botao_compartilhar = document.getElementById("compartilhar_geladeira");
        let link_compartilhamento = document.getElementById("link_compartilhamento");

        botao_compartilhar.addEventListener("click", function() {
            if (link_compartilhamento.style.display === "block"){
                link_compartilhamento.style.display = "none"
                link_compartilhamento.style.zIndex = "10"
            }else{
                link_compartilhamento.style.display = "block"
            }
        });
    </script>
</body>