{% block content %}
    <div>
        <h1 style="display: block">{{ object.nome_geladeira }}</h1>
        <a href="{% url 'estoque:editar_geladeira' geladeira.pk %}"><button id="btn_edit">Editar</button></a>
        <a href="{% url 'estoque:excluir_geladeira' geladeira.pk %}"><button id="btn_excluir">Excluir</button></a>
        <p>Data de criação: {{ object.dt_criacao }}</p>


        <a href="{% url 'estoque:produtos_geladeira' object.pk %}">
            <div style="background-color: lightseagreen; width: 100px; height: 100px;">
                <h1 style="font-size: 50pt">+</h1>
            </div>
        </a>
        {% for item in item_geladeira %}
            <div style="background-color: lightseagreen; width: 300px;">
                <p>{{ item.produto.nome_produto }}</p>
                <img src="/media/{{ item.produto.imagem_produto }}" width="100px" height="100px">
                <p>{{ item.quantidade }} {{ item.produto.unidade_medida }}</p>
                <form method="post" action="{% url 'estoque:detalhes_geladeira' geladeira.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <label for="quantidade{{ item.id }}">Quantidade</label><br>
                    <input type="number" id="quantidade{{ item.id }}" name="quantidade{{ item.id }}" value="{{ item.quantidade }}" min="0"><br>
                    <label for="validade{{ item.id }}">Validade</label><br>
                    <input type="date" id="validade{{ item.id }}" name="validade{{ item.id }}" value="{{ item.validade|date:'Y-m-d' }}" readonly>
                    <button type="button" id="btn_validade{{ item.id }}" onclick="document.getElementById('validade{{ item.id }}').readOnly = false; document.getElementById('btn_validade{{ item.id }}').style.display = 'none'">lapis_edicao</button>
                    <button type="button" onclick="document.getElementById('quantidade{{ item.id }}').value = parseInt(document.getElementById('quantidade{{ item.id }}').value) - 1">-</button><!-- Não tá funfando ainda -->
                    <button type="button" onclick="document.getElementById('quantidade{{ item.id }}').value = parseInt(document.getElementById('quantidade{{ item.id }}').value) + 1">+</button>
                    <button type="submit">Guardar</button>
                </form>
                <a href="{% url 'estoque:excluir_item_geladeira' geladeira.pk item.pk %}"><button id="btn_excluir">X</button></a>
                <br>
            </div>
        {% endfor %}

        <!-- <a href=""><button>Adicionar item</button></a> -->
    </div>
    <a href="{% url 'estoque:criar_lista' object.pk %}"><button> Criar Lista </button></a>
    <a href="{% url 'estoque:listas' geladeira.pk %}"><button> Visualizar Listas de Compras </button></a>
    <p></p>
    <a href="{% url 'estoque:geladeiras' %}"><button id="btn_voltar">Voltar</button></a>

{% endblock %}

