{% block content %}
    <div>
        <h1 style="display: block">{{ object.titulo_lista }}</h1>
        <p style="display: block">{{ object.descricao }}</p>
        <a href="{% url 'estoque:editar_lista' lista.pk %}"><button id="btn_edit">Editar</button></a>
        <a href="{% url 'estoque:excluir_lista' lista.geladeira.pk lista.pk %}"><button id="btn_excluir">Excluir</button></a>
        <p>Data de criação: {{ object.dt_criacao }}</p>


        <a href="{% url 'estoque:produtos_lista' lista.pk %}">
            <div style="background-color: lightseagreen; width: 100px; height: 100px;">
                <h1 style="font-size: 50pt">+</h1>
            </div>
        </a>
        {% for item in item_lista %}
            <div style="background-color: lightseagreen">
                <p>{{ item.produto.nome_produto }}</p>
                <p>{{ item.quantidade }} {{ item.produto.unidade_medida }}</p>
                <form method="post" action="{% url 'estoque:detalhes_lista' lista.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <label for="quantidade{{ item.id }}">Quantidade</label><br>
                    <input type="number" id="quantidade{{ item.id }}" name="quantidade{{ item.id }}" value="{{ item.quantidade }}" min="0"><br>

                    <button type="button" onclick="document.getElementById('quantidade{{ item.id }}').value = parseInt(document.getElementById('quantidade{{ item.id }}').value) - 1">-</button><!-- Não tá funfando ainda -->
                    <button type="button" onclick="document.getElementById('quantidade{{ item.id }}').value = parseInt(document.getElementById('quantidade{{ item.id }}').value) + 1">+</button>
                    <button type="submit">Guardar</button>
                </form>
                <a href="{% url 'estoque:excluir_item_lista' lista.pk item.pk %}"><button id="btn_excluir">X</button></a>
                <br>
            </div>
        {% endfor %}


    </div>
    <a href="{% url 'estoque:listas' object.geladeira.pk %}"><button id="btn_voltar">Voltar</button></a>
{% endblock %}