{% load static %}
    <link rel="stylesheet" href="{% static 'css/styleFooterGeral.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleSearchNavBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleLista.css' %}">



<body>
    {% block content %}
        <header>
            <nav class="top-nav">
                <div class="centered-text">
                    <div class="logo">
                        <img src="/static/img/logo.png">
                    </div>
                </div>
                <a>{{ lista.titulo_lista }}</a>
                {% include 'pesquisa.html' %}
            </nav>

        </header>
            <!-- Botão para adicionar um novo produto a geladeira -->
        <div class="outerContainer">  
            <div class="buttonCenter">
                <a href="{% url 'estoque:produtos_lista' lista.pk %}">
                    <button class="borderButton" style="width: 150px; height: 150px;">
                        <img src="/static/img/plus.png" style="width: 100%; height: 100%;">
                    </button>
                </a>

                <a href="{% url 'estoque:excluir_lista' lista.geladeira.pk lista.pk %}"><button id="btn_excluir">Excluir</button></a>
                <p>Data de criação: {{ lista.dt_criacao }}</p>
            </div>
            <div class="itemContainer">
                <ul>
                    {% for item in item_lista %}
                        <li>
                            <div class="itensIn">
                                <p>{{ item.produto.nome_produto }}</p>
                                <p>{{ item.quantidade }} {{ item.produto.unidade_medida }}</p>
                                <form method="post" action="{% url 'estoque:detalhes_lista' lista.pk %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <label for="quantidade{{ item.id }}">Quantidade</label><br>
                                    <input type="number" id="quantidade{{ item.id }}" name="quantidade{{ item.id }}" value="{{ item.quantidade }}" min="0"><br>
                
                                    <button type="button" onclick="document.getElementById('quantidade{{ item.id }}').value = parseInt(document.getElementById('quantidade{{ item.id }}').value) - 1">-</button>
                                    <button type="button" onclick="document.getElementById('quantidade{{ item.id }}').value = parseInt(document.getElementById('quantidade{{ item.id }}').value) + 1">+</button>
                                    <button type="submit">Guardar</button>
                                </form>
                                <a href="{% url 'estoque:excluir_item_lista' lista.pk item.pk %}"><button id="btn_excluir">X</button></a>
                                <br>

                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>   
    {% endblock %}
    <footer>
        <nav>
            <div class="bottom-nav">
                <div class="footer-left">
                    <a href="{% url 'estoque:listas' lista.geladeira.pk %}">
                        <button id="btn_voltar">
                            <img src="/static/img/voltar.png" alt="Voltar">
                        </button>
                    </a>

                    <a href="{% url 'estoque:editar_lista' lista.pk %}">
                        <button id="btn_edit">
                            <img src="/static/img/lista.png" alt="Lista">
                        </button>
                    </a>
                </div>
            </div>
        </nav>
     </footer>

</body>


