{% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/styleGN.css' %}">
    </head>

    <body>
        <header>
            <nav class="top-nav">
                <div class="centered-text">
                    <div class="logo">
                        <img src="/static/img/logo.png">
                    </div>
                </div>
                <a>Geladeiras</a>
            </nav>
        </header>

        {% load crispy_forms_filters %}
        {% block main %}
        {%  load crispy_forms_tags %}
        
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }} <br>

            </form>
        
        {% endblock %} 

        <foooter>
            <nav class="navbarbar">
                <a href="{% url 'estoque:geladeiras' %}">
                    <button id="btn_voltar" class="btn-icon">
                        <img src="/static/img/voltar.png" alt="Voltar"> 
                    </button>
                </a>
                <input type="submit" id="inputSave" value="">
            </nav>
        </footer>
    </body>

