{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/styleHistorico.css' %}">

    <header>
            <nav class="top-nav">
                <div class="centered-text">
                    <div class="logo">
                        <img src="/static/img/logo.png">
                    </div>
                </div>
                <a>Histórico de movimentações  -  </a><a> {{ geladeira.nome_geladeira }}</a>
            </nav>

        </header>

    <div>
        {% for data in datas %}
            <h3>{{ data }}</h3>
            {% for log in historico %}
                {% if log.dt_modificacao == data %}
                        <p>Item:{{ log.item_geladeira.id }} - Descrição:{{ log.descricao }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

<footer>
    <nav>
        <div class="bottom-nav">
            <a href="{% url 'estoque:detalhes_geladeira' geladeira.pk %}">
                <button id="btn_voltar" class="btn-icon btn-voltar">
                    <img src="/static/img/voltar.png" alt="Voltar">
                </button>
            </a>
        </div>
    </nav>
</footer>