{% load static %}

{% block content %}
<div>
    <h1>PAGINA LISTAS - GELADEIRA: {{ geladeira.nome_geladeira }}</h1>
    {% for lista in listas %}
            <section style="background-color: lightseagreen; margin: 10px;">
                <a href="{% url 'estoque:detalhes_lista' lista.pk %}"><p>{{ lista.titulo_lista }}</p></a>
                <h3>Descrição:</h3>
                <p>{{ lista.descricao }}</p>
                <h3>Data de criação:</h3>
                <p>{{ lista.dt_criacao }}</p>
            </section>
    {% endfor %}
    <a href="{% url 'estoque:detalhes_geladeira' geladeira.pk %}"><button id="btn_voltar">Voltar</button></a>

    <a href="{% url 'estoque:criar_lista' geladeira.pk %}">
        <button id="btn_clista" class="btn-icon"><img src="/static/img/lista.png" alt="Lista"></button>
    </a>
</div>
{% endblock %}