{% load static %}
    <link rel="stylesheet" href="{% static 'css/styleSearchNavBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleG.css' %}">

    <body>
        <header>
            <nav class="top-nav">
                <div class="centered-text">
                    <div class="logo">
                         <a href="{% url 'estoque:geladeiras'%}"><img src="/static/img/logo.png"></a>
                    </div>
                </div>
                <a>Geladeiras</a>
                {% include 'pesquisa.html' %}
            </nav>
    
        </header>
        {% if geladeiras is None %}<!-- Se não existe uma geladeira -->
            <a href="{% url 'estoque:criar_geladeira' %}">
                <div class="buttonCenter">
                    <button class="borderButton">
                        <img src="/static/img/plus.png">
                    </button>
                </div>
            </a>
        {% else %}
            {% block content %}
                <div class="rectangleFree">
                    <a href="{% url 'estoque:criar_geladeira' %}" class="create_link">
                        <button class="borderButton">
                            <img src="/static/img/plus.png">
                        </button>
                    </a>

                    {% for geladeira in geladeiras %}
                        <section class="borderFree">
                            <a href="{% url 'estoque:detalhes_geladeira' geladeira.pk %}" class="title-geladeira"><p class="title-geladeira">{{ geladeira.nome_geladeira }}</p></a>
                            {% for usuario in geladeira.usuarios_proprietarios.all %}
                                <p class="name_propies">{{ usuario }}</p>
                            {% endfor %}
                        </section>
                {% endfor %}
                </div>
            {% endblock %}
        {% endif %}

        <footer>
            <nav class="bottom-nav">
                <a href="{% url 'estoque:geladeiras' %}">
                    <img src="/static/img/geladeira.png" class="imgCenter">
                </a>
                <div class="vertical-bar"></div>
                <a href="{% url 'estoque:profile' %}">
                    <img src="/static/img/perfil.png" class="imgCenterPerfil">
                </a>
            </nav>
        </footer>
    </body>
