{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/styleSearchNavBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleFooterGeral.css' %}">
    <h1>Produtos</h1>
    {% include 'pesquisa.html' %}

    <div>
        <a href="{% url 'estoque:cadastrar_produto' %}">
            <div style="background-color: lightseagreen; width: 100px; height: 100px;">
                <h1 style="font-size: 50pt">+</h1>
            </div>
        </a>

        {% for produto in produtos %}
            {% if geladeira %}
                <a href="{% url 'estoque:cadastrar_item_geladeira' geladeira.pk produto.pk %}" id="geladeira{{ produto.pk }}" style="display: none">
                    <div style="background-color: lightseagreen">
                        <p>{{ produto.nome_produto }}</p>
                        <img src="/media/{{ produto.imagem_produto }}" width="100px" height="100px">
                        <p>{{ produto.unidade_medida }}</p>
                    </div>
                </a>
            {% endif %}

            {% if lista %}
                <a href="{% url 'estoque:cadastrar_item_lista' lista.pk produto.pk %}" id="lista{{ produto.pk }}" style="display: none">
                    <div style="background-color: lightseagreen">
                        <p>{{ produto.nome_produto }}</p>
                        <img src="/media/{{ produto.imagem_produto }}" width="100px" height="100px">
                        <p>{{ produto.unidade_medida }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}

        <footer>
            <nav>
                <div class="bottom-nav">
                    <div class="footer-left">
                        {% if geladeira %}
                            <a href="{% url 'estoque:detalhes_geladeira' geladeira.pk %}" id="geladeira_voltar" style="display: none">
                                <button id="btn_voltar" class="btn-icon btn-voltar">
                                    <img src="/static/img/voltar.png" alt="Voltar">
                                </button>
                             </a>
                        {% endif %}

                        {% if lista %}
                            <a href="{% url 'estoque:detalhes_lista' lista.pk %}" id="lista_voltar" style="display: none">
                                <button id="btn_voltar" class="btn-icon btn-voltar">
                                    <img src="/static/img/voltar.png" alt="Voltar">
                                </button>
                             </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
         </footer>
    </div>
{% endblock %}

<script>
    let url_atual = window.location.href;

    // Verifique a URL atual e mostre ou oculte os links com base nas condições
    if (url_atual.includes('/geladeira/produtos/')) {
        document.querySelectorAll('[id^="geladeira"]').forEach(function(element) {
            element.style.display = 'block';
        });
    }else if (url_atual.includes('/geladeira/produtos_lista/')) {
        document.querySelectorAll('[id^="lista"]').forEach(function(element) {
            element.style.display = 'block';
        });
    }
</script>