{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styleProdutos.css' %}">
<link rel="stylesheet" href="{% static 'css/styleSearchNavBar.css' %}">
<link rel="stylesheet" href="{% static 'css/styleFooterGeral.css' %}">

<header>
    <nav class="top-nav">
        <div class="centered-text">
            <div class="logo">
                <img src="/static/img/logo.png">
            </div>
        </div>
        <a>Produtos</a>
        {% include 'pesquisa.html' %}
    </nav>

</header> 

    <div class="content">

        <div class="buttonCenter">
            <a href="{% url 'estoque:cadastrar_produto' %}">
                <button class="borderButton">
                    <img src="/static/img/plus.png">
                </button>
            </a>
        </div>

        <div class="rectangleFree">
        {% for produto in produtos %}
            {% if geladeira %}
                <a href="{% url 'estoque:cadastrar_item_geladeira' geladeira.pk produto.pk %}" id="geladeira{{ produto.pk }}" style="display: none" class="title-geladeira">
                    <div class="borderFree">
                        <pclass="title-prodNome">{{ produto.nome_produto }}</p>
                        <img src="/media/{{ produto.imagem_produto }}" width="100px" height="100px">
                        <p>{{ produto.unidade_medida }}</p>
                    </div>
                </a>
            {% endif %}

            {% if lista %}
                <a href="{% url 'estoque:cadastrar_item_lista' lista.pk produto.pk %}" id="lista{{ produto.pk }}" style="display: none" class="title-geladeira" >
                    <div style="background-color: lightseagreen">
                        <p >{{ produto.nome_produto }}</p>
                        <img src="/media/{{ produto.imagem_produto }}" width="100px" height="100px">
                        <p>{{ produto.unidade_medida }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        </div> 

        <footer>
            <nav>
                <div class="bottom-nav">
                    <div class="footer-left">
                        {% if geladeira %}
                            <a href="{% url 'estoque:detalhes_geladeira' geladeira.pk %}" id="geladeira_voltar" style="display: none">
                                <button id="btn_voltar" class="btn-icon btn-voltar">
                                    <img src="/static/img/voltar.png" alt="Voltar">
                                </button>
                             </a>
                        {% endif %}

                        {% if lista %}
                            <a href="{% url 'estoque:detalhes_lista' lista.pk %}" id="lista_voltar" style="display: none">
                                <button id="btn_voltar" class="btn-icon btn-voltar">
                                    <img src="/static/img/voltar.png" alt="Voltar">
                                </button>
                             </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
         </footer>
    </div>
{% endblock %}

<script>
    let url_atual = window.location.href;

    // Verifique a URL atual e mostre ou oculte os links com base nas condições
    if (url_atual.includes('/geladeira/produtos/')) {
        document.querySelectorAll('[id^="geladeira"]').forEach(function(element) {
            element.style.display = 'block';
        });
    }else if (url_atual.includes('/geladeira/produtos_lista/')) {
        document.querySelectorAll('[id^="lista"]').forEach(function(element) {
            element.style.display = 'block';
        });
    }
</script>