{% block content %}
    <div class="py-10">
        <h1>Bem vindo ao seu perfil {{ object.username }}</h1>
        <form method="post" action="{% url 'estoque:profile' %}" id="user_profile">
            {% csrf_token %}
            <label for="username">Usuário</label>
            <input type="text" id="username" value="{{ object.username }}" disabled>
            <label for="email">Email</label>
            <input type="email" id="email" value="{{ object.email }}" disabled="False">
            <button type="submit" id="btn_submit" style="display:none" onclick="alter_display_enviar()">Enviar dados</button>
        </form>
        <button id="btn_edit" onclick="alter_display_edit()">Editar Usuario</button>

        <button><a href="../accounts/password/change">Alterar senha</a> </button>

{% endblock %}

<script>
    function alter_display_edit(){
        document.getElementById('btn_edit').style.display = 'none'
        document.getElementById('btn_submit').style.display = 'block'
    }

    function alter_display_enviar(){
        document.getElementById('btn_edit').style.display = 'block'
        document.getElementById('btn_submit').style.display = 'none'
    }
</script>