.top-nav {
    background-color: #8B65BF;
    color: #fff;
    padding: 70px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    left: 0;
    height: 10px;
}

.centered-text {
    display: flex;
    align-items: center; /* Altere para 'align-items: center' para centralizar verticalmente */
    height: 100%; /* Aumente a altura para ocupar toda a altura do elemento pai */
}

.logo {
    margin-right: 10px; 
}

.top-nav a {
    font-size: 45px; /* Ajuste o valor do tamanho da fonte conforme necessÃ¡rio */
    font-style: italic;
}

.top-nav {
    display: flex;
    justify-content: start; 
    align-items: center; /* Centraliza verticalmente os elementos dentro da barra de navegaÃ§Ã£o */
}

.bottom-nav{
    background-color: #8B65BF;
    color: #fff;
    padding: 70px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: -150;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.bottom-left{
    background-color: #8B65BF;
    color: #fff;
    padding: 70px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}



#btn_historico{
    background: none;
    border: none;
}

#btn_historico img {
    width: 72px;
    height: 72px;
}

#btn_voltar {
    background: none;
    border: none;
    margin-right: 1050px;
}

#btn_voltar img {
    width: 72px;
    height: 72px;
}

#btn_edit{
    background: none;
    border: none;
}

#btn_edit img {
    width: 72px;
    height: 72px;
}

#btn_excluir{
    background: none;
    border: none;
}

#btn_excluir img {
    width: 72px;
    height: 72px;
}

#compartilhar_geladeira{
    background: none;
    border: none;
}

#compartilhar_geladeira img {
    width: 72px;
    height: 72px;
}

#btn_clista{
    background: none;
    border: none;
}

#btn_clista img {
    width: 72px;
    height: 72px;
}

.buttonCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.borderButton{
    border: none;
}

