.card {
    position: sticky;
    top: 0;
    box-shadow: 0 -0.5rem 1rem rgba(0 0 0 / 0.15);
    border-radius: 4px;
    width: 100%;
    max-width: 25%;
	margin: 1rem auto;
	overflow: hidden;
	background-color: #d4c6e5;
    font-family: Montserrat, sans-serif;
}

a{
    text-decoration: none;
}

.card p{
    color: rebeccapurple;
    font-size: 18px;
}

.card span{
    font-size: 20px;
    font-weight: bold;
}

.card sub{
    font-size: 12px;
}

.card h2{
    color: white;
    font-size: 24px;
}

.title{
    text-align: center;
    background-color: rebeccapurple;
    padding: 0.2rem 0.5rem;
}

.desc{
    padding: 0.5rem 1.5rem;
}