body{
    background-color: white ;
    font-family: Montserrat;
}

.rectangleFree{
    display: flex;
    align-items: start;
    flex-direction: row;
    background: rgba(191, 173, 217, 0.50); 
    border-radius: 32px;
    text-align: center;
    font-size: 24px;
    position: fixed;
    margin-top: 150px;
    width: 100%;
}

.borderFree{
    flex-basis: 15%;
    background: rgba(191, 173, 217, 0.50);
    border-radius: 32px;
    margin: 12px;
}

.title-geladeira{
    background: #8B65BF;
    color: white; /* Substitua #000 pela cor desejada em formato hexadecimal, nome da cor ou RGB */
    text-decoration: none; /* Para remover o sublinhado (opcional) */
    margin: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


